*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

header{
    padding: 0px 120px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.header-div{
    display: flex;
}

.title-in{
    color: rgba(58, 58, 58, 1);
    font-weight: 700;
    font-size: 1.5rem;
}

.header-div{
    justify-content: space-between;
}

.nav-header ul {
    display: flex;
    list-style: none;
}

.nav-header li a{
    text-decoration: none;
    margin-right: 30px;
    color: #3A3A3A;
    font-weight: 600;
}

.heading-start{
    color: #3A3A3A;
    margin-top: 145px;
    font-size: 3.25rem;
    max-width: 505px;
    margin-bottom: 30px;
}

.para-1{
    color: #3A3A3A;
    font-weight: 600;
    margin-bottom: 40px;
    max-width: 500px;
}

.pre-btn{
    color: white;
    background-color: rgba(224, 44, 109, 1);
    padding: 10px 24px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.c-div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.camera-div{
    margin-top: 80px;
    border: 3px solid var(--Brand-Purple-100, #F1E4FF);
    border-radius: 475px;
}

.camera-div img{
    width: 100%;
}

main{
    padding: 0px 150px;
}

.logo{
    justify-content: space-around ;
    display: flex;
    margin-top: 100px;
}

.heading-popular{
    color: #3A3A3A;
    font-size: 1.75;
    font-weight: 700;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 60px;
}

.product-name{
    color: #18191F;
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 0.7rem;
    margin-top: 0.9rem;
}
.product-price{
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.75rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.product-para{
    color: #787885;
    font-size: 0.75rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.product-main-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px auto;
    gap: 30px;
    text-align: left;
}

.product-main-div img{
    width: 100%;
}

.see-btn{
    background-color: transparent;
    color: rgba(224, 44, 109, 0.87);
    font-weight: 700;
    border: none;
    font-size: 1.5rem;
    margin-top: 3rem;
    cursor: pointer;
    margin-bottom: 120px;
}

.see-btn-div{
    text-align: right;
}

.product-card{
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

#right-arrow{
    align-items: center;
}

.gear-div{
    display: flex;
    gap: 4rem;
    margin-bottom: 130px;
}

.gear-div img {
    width: 100%;
}

.at-place{
    color: #0A0826;
    font-weight: 700;
    font-size: 2.2rem;
    margin-top: 2rem;
}

.feature-para{
    color: #6C6C6C;
    max-width: 501px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 28px;
    margin-top: 1.35rem;
}

.btn-join{
    color: white;
    background-color: #E02C6D;
    border: none;
    border-radius: 3px;
    padding: 10px 24px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    margin-top: 1.5rem;
}

footer{
    background-color: rgba(10, 8, 38, 1);
}

.fot-heading{
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 60px;
}

.copyright-heading{
    color: rgba(217, 219, 225, 1);
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.all-para{
    color: rgba(217, 219, 225, 1);
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    padding-bottom: 90px;
}
